.carousel {
  height: 583px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.carousel-inner {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-inner > .item {
width: 100%;
height: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: #cacccd;
text-align: center;
}

.carousel-inner > .item > img {
  height: 100%;
  width: 100%;
}

.carousel-caption{
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  margin-bottom: 140px;
}

.carousel-caption h1{
  font-size: 65px;
  letter-spacing: 1px;
}

.carousel-cation p{
  padding: 5px;
  font-size: 55px;
  letter-spacing: 0.5px;
}

.home-create{
  letter-spacing: .5px;
  background-color: #00a8f2;
  border-radius: 3px;
  vertical-align: middle;
  border: 0;
  transition: all .2s ease-out;
}

.home-create span{
  font-weight: 400;
  padding: 11px 15px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
