

.carousel {
  height: 450px;
  margin-bottom: 60px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.carousel-inner {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.carousel-inner > .item {
width: 100%;
height: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: #cacccd;
text-align: center;
}

.carousel-inner > .item > img {
  height: 100%;
  width: 100%;
}

.carouse-caption{
  bottom: 450px;
}
