.event-index-item{
  height: 300px;
  width: 330px;
  overflow: auto;
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  border: 1px solid #DFE5EB;
  margin: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: white;
  overflow: hidden;
}

#home-event-index-picture{
  height: 160px;
  width: 100%;
}

.index-title{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
}

.index-detail{
  padding: 8px;
  margin: 10px 0px 0px 4px;
}

.index-title{
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
}

.index-location{
  color: #666A73;
  font-size: 12px;
}

.index-footer{
  position: absolute;
  bottom: 0;
  border-top: 1px solid #DFE5EB;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: auto;
}

.footer{
  padding: 10px 10px;
  letter-spacing: .5px;
  line-height: 15px;
  border-left: 1px solid #DFE5EB;
  cursor: pointer;
}

.bookmark-index{
  border-left: 1px solid #DFE5EB;
  width: 45px;
}

.bookmark-index > span {
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
}

.marked{
  color:#00a8f2;
}


.poster-display{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.poster-details{
  width: 1200px;
  margin: 0 auto;
}
.poster-title{
  margin-left: 20px;
  padding-top: 15px;
  font-size: 30px;
}

.homepage{
  background-color: #F8F8FA;
}

.event-index-item > img{
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

.event-index-item > img:hover{
  opacity: .5;
}
