.close{
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: -1;
}

.login-form{
  margin: center;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
}

.login-box{
  width: 250px;
  height: 40px;
  border-radius: 2px;
  margin: 10px;
  font-size: 16px;
  border: 1px #D2D6DF solid;
  padding-left: 10px;
}

.login-box.button{
  background-color: #2BBA34;
  color: white;
}

.demo-button{
  background-color: white;
  color: black;
  height: 40px;
  margin-top: 10px;
  border-color: black;
}

.errors{
  color: red;
  font-size: 11px;
  margin-left: 0px
}
