.header-group{
  display: flex;
  border-bottom: 1px solid #D2D6DF;
  justify-content: space-between;
  font-family: "Benton Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .5px;
}

.header-title{
  margin: 0px 20px;
  color: #ff9900;
  width: 100px;
  height: 60px;
  cursor: pointer
  // border: 1px solid #D2D6DF;
}

.nav-links{

}

a.header-link{
  align-self: center;
  display: inline-block;
  // padding-top: 30px;
  // padding-right: 5px;
  text-transform: uppercase;
  border-left: 1px solid #EFF2F5;
  width: 100px;
  height: 60px;
  font-size: 12px;
  line-height: 19px;
  cursor: pointer
}

a.header-link:hover{
  background-color: #D8E3E6;
}
