.map {
  width: 250px;
  height: 250px;
}

.search-page{
  display: flex;
  height: auto;
  height:100vh;
}

.search-left{
  width: 260px;
  height: 420px;
  border: 1px solid black;
}

.search-right{
border: 1px solid red;
width: 800px;
height: auto;
}

.category-search{
  
}
