.map {
  width: auto;
  height: 250px;
  margin-top: 10px;
}

.search-page{
  display: flex;
  height: auto;
  height:100vh;
}

.search-left{
  margin: 20px;
  margin-left: 50px;
  width: 250px;
  height: 420px;
}

.search-right{
  width: 1200px;
  height: 100%;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.search-left > div{
  padding-top: 10px;
}

#pac-input{
  width: 250px;
  margin-top: 10px;
  height: 40px;
  line-height: 25px;
  font-size: 20px;
}
